<div class="container-fluid p-4">
    <div class="card border-primary">
        <div class="card-header text-center border-primary">
            <h4>Historial de Compras</h4>
        </div>
        <div class="card-body p-2">
            <div class="row border rounded m-2">
                <div class="col-md-4 border-right text-center p-2">
                    <h5>Nombre del Evento</h5>
                    <h6>Numero de compra: x</h6>
                    <h6>Subtotal: $</h6>
                </div>
                <div class="col-md-8 text-center my-auto">
                    <button (click)="verCompra()" class="btn btn-primary">Ver más</button>
                </div>
            </div>
            <div class="row border rounded m-2 h-100">
                <div class="col-md-4 border-right text-center p-2">
                    <h5>Nombre del Evento</h5>
                    <h6>Numero de compra: x</h6>
                    <h6>Subtotal: $</h6>
                </div>
                <div class="col-md-8 text-center my-auto">
                    <button (click)="verCompra()" class="btn btn-primary">Ver más</button>
                </div>
            </div>
            <div class="row border rounded m-2 h-100">
                <div class="col-md-4 border-right text-center p-2">
                    <h5>Nombre del Evento</h5>
                    <h6>Numero de compra: x</h6>
                    <h6>Subtotal: $</h6>
                </div>
                <div class="col-md-8 text-center my-auto">
                    <button (click)="verCompra()" class="btn btn-primary">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
