<nav class="navbar navbar-expand-md navbar-dark bg-primary animated fadeIn fast">
    <a class="navbar-brand nav-logo" [routerLink]="['inicio']">
        <img src="/assets/img/icon.png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['eventos']">Eventos</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['publicaciones']">Publicaciones</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
            </li>
        </ul>
        <button (click)="verPerfil()" class="btn btn-success my-2 my-sm-0" type="button">Cuenta</button>
    </div>
</nav>
