<nav class="navbar navbar-expand-lg navbar-dark bg-primary animated fadeIn fast" *ngIf="router.url != '/admin'">
    <a class="navbar-brand nav-logo" [routerLink]="['inicio']">
        <img src="/assets/img/icon.png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['eventos']">Eventos</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['publicaciones']">Publicaciones</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
            </li>
        </ul>
        <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#myModal">Iniciar Sesi&oacute;n</button>
    </div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Iniciar Sesi&oacute;n</h5>
                </div>
            </div>
            <div class="modal-body">
                <button class="btn btn-outline-primary btn-block">
                  <img class="float-left" src="/assets/img/facebook-icon.png" alt="facebook-icon" width="30px" height="30px">
                  Inicia sesion con Facebook
                </button>
                <hr>
                <div class="container-fluid text-center">
                    <h5>Repartidores</h5>
                </div>
                <form (ngSubmit)="guardar(forma)" #forma="ngForm">
                    <div class="form-group">
                        <label>Correo electr&oacute;nico</label>
                        <input type="email" class="form-control" name="correo" placeholder="Ej. alguien@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel [class.is-invalid]="correo.invalid && correo.touched" #correo="ngModel" required>
                        <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Obligatorio. Ingrese un correo válido</small>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" name="contra" placeholder="Contraseña" minlength="8" ngModel [class.is-invalid]="contra.invalid && contra.touched" #contra="ngModel" required>
                        <small *ngIf="contra.invalid && contra.touched" class="form-text text-danger">Obligatorio. Mínimo 8 caracteres.</small>
                        <small *ngIf="contra.invalid && contra.touched" class="form-text text-danger">Mínimo una mayúscula y un número.</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container-fluid text-center">
                    <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success">Iniciar Sesi&oacute;n</button>
                </div>
            </div>
        </div>
    </div>
</div>
