<div class="container-fluid p-4 ">
    <div class="card border-primary mx-auto" style="max-width: 70%;">
        <div class="card-header text-center border-primary">
            <h4>Compra x</h4>
            <small> Compra Realizada el 08/06/2020</small>
        </div>
        <div class="card-body p-2">
            <div class="container-fluid">
                <div class="row border rounded mx-auto" style="max-width: 70%;">
                    <div class="col-md-5 border-right p-2 text-center">
                        <p class="my-auto">Nombre del Evento:</p>
                    </div>
                    <div class="col-md-7 p-2 text-center">
                        <p class="my-auto">Papirolas</p>
                    </div>
                </div>
                <div class="row border rounded mx-auto" style="max-width: 70%;">
                    <div class="col-md-5 border-right p-2 text-center">
                        <p class="my-auto">Precio de Boleto Individual:</p>
                    </div>
                    <div class="col-md-7 p-2 text-center">
                        <p class="my-auto">$50</p>
                    </div>
                </div>
                <div class="row border rounded mx-auto" style="max-width: 70%;">
                    <div class="col-md-5 border-right p-2 text-center">
                        <p class="my-auto">Cantidad de Boletos Comprada:</p>
                    </div>
                    <div class="col-md-7 p-2 text-center">
                        <p class="my-auto">5</p>
                    </div>
                </div>
                <div class="row border rounded mx-auto" style="max-width: 70%;">
                    <div class="col-md-5 border-right p-2 text-center">
                        <p class="my-auto">Precio Total Pagado:</p>
                    </div>
                    <div class="col-md-7 p-2 text-center">
                        <p class="my-auto">$250</p>
                    </div>
                </div>
                <div class="row border rounded mx-auto" style="max-width: 70%;">
                    <div class="col-md-5 border-right p-2 text-center">
                        <p class="my-auto">Método de Pago:</p>
                    </div>
                    <div class="col-md-7 p-2 text-center">
                        <p class="my-auto">Mercado Pago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
