<div class="container-fluid animated fadeIn fast">
    <div class="card-deck m-4">
        <div class="card" style="height: 500px;">
            <img class="card-img-top" src="/assets/img/eventos/img-e1.jpg" width="300px" height="250px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Titulo</h5>
                <hr>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="p-3">
                <button (click)="verEvento()" class="btn btn-block btn-outline-success">Ver m&aacute;s</button>
            </div>
        </div>
        <div class="card" style="height: 500px;">
            <img class=" card-img-top " src="/assets/img/eventos/img-e2.jpg " width="300px " height="250px " alt="Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">Titulo</h5>
                <hr>
                <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
            </div>
            <div class="p-3">
                <button (click)="verEvento()" class="btn btn-block btn-outline-success">Ver m&aacute;s</button>
            </div>
        </div>
        <div class="card" style="height: 500px;">
            <img class="card-img-top " src="/assets/img/eventos/img-e3.jpg " width="300px " height="250px " alt="Card image cap ">
            <div class="card-body ">
                <h5 class="card-title ">Titulo</h5>
                <hr>
                <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
            </div>
            <div class="p-3">
                <button (click)="verEvento()" class="btn btn-block btn-outline-success">Ver m&aacute;s</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
